<nav>
  <div class="site-title">
    <a href="/"><h1>Sem's Blogs</h1></a>
    <p>The Ford Museum</p>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">Plan van aanpak</a></li>
    <li><a href="/blogs/create">New Blog</a></li>
  </ul>
</nav>