<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about-content">
    <h2>Plan van aanpak</h2>
    <p>Ik heb van tevoren eigenlijk vrij weinig voorbereid en ben gewoon begonnen.</p>
    <p>Mijn idee nadat ik begonnen was is een blog maken over ford en zijn nieuwere modellen en dat allemaal een beetje leuk aankleden.</p>
    <p>Het duurde alleen wel enige tijd voordat ik goed bezig was omdat ik twijfelde waarover ik mijn blog wilde schrijven.</p>
    <br>
    <br>
    
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>