<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="blogs content">
    
      <div class="header">
        <div class="header-container">
          <h1>The Ford Museum</h1>
          <p>Here you'll find al the amazing Ford's</p>
          <a class="btn" href="#secondpage">Learn more</a>
        </div>
      </div>
  
    <div id="secondpage">
        <div class="container">
          <img src="/images/ford_mustang_mach_e_4_first_edition_2020_4k-HD.jpg" alt="mustang">
            <h2>De nieuwe Mustang Mach E</h2>
            <p>De nieuwe elektrische Mach E heeft een accu van 98 kWh waardoor hij een bereik heeft van 610 km.</p>
            <br>
            <p>Een ongelofelijke 351 pk waardoor hij van 0 tm 100 km/u gaat in 3.7 seconden.</p>
            <br>
            <p>En een oplaadsnelheid waardoor je per 10 minuten 119km bijlaadt.</p>
            <br>
        </div>
    </div>
    <div id="thirdpage">
        <div class="container2">
          <img src="/images/Ford-GT.jpg" alt="mustang">
            <h2>De exclusieve Ford GT</h2>
            <p>Dit iconische bakbeest heeft een twin-turbocharged 3.5-liter V-6</p>
            <br>
            <p>Een ongelofelijke 660 pk waardoor hij van 0 tm 100 km/u gaat in 3.0 seconden.</p>
            <br>
            <p>En een fantastisch design zoals je gewend bent bij de Ford GT's</p>
            <br>
            <br>
            <br>
        </div>
    </div>

  </div>
  <%- include("./partials/footer.ejs") %>
</body>
</html>